<!DOCTYPE html>
<html>
    <head>
        <title>
            My Web App
        </title>
        <body>
            <h1>OMG</h1>
            <p>This is a webpage.</p>
        </body>
    </head>
</html>